CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
install_manifest.txt
compile_commands.json
_deps
.cache
.cmake
*.cmake

*.gen.h

# compile output
*.so
*.o
*.a

# imgui
imgui.ini

hayaku
